# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{php,twig,yml}]
max_line_length = 140
ij_visual_guides = unset
indent_style = space
indent_size = 4
ij_any_keep_line_breaks = true
ij_any_keep_indents_on_empty_lines = false
ij_any_blank_lines_before_class_end = 0
ij_any_blank_lines_after_class_header = 0
ij_any_place_assignment_sign_on_next_line = false
ij_any_method_parameters_wrap = off
ij_any_wrap_comments = false

ij_php_align_assignments = false
ij_php_align_key_value_pairs = false
ij_php_align_group_field_declarations = false
ij_php_comma_after_last_array_element = true
ij_any_array_initializer_right_brace_on_new_line = true
ij_php_concat_spaces = false
ij_php_blank_lines_around_class = 0
ij_php_blank_lines_around_constants = 0
ij_php_blank_lines_around_field = 0
ij_php_blank_lines_before_return_statement = 1

ij_php_space_before_closure_left_parenthesis = true
ij_php_space_before_short_closure_left_parenthesis = true

ij_php_phpdoc_param_spaces_between_tag_and_type = 1
ij_php_phpdoc_param_spaces_between_type_and_name = 1
ij_php_phpdoc_param_spaces_between_name_and_description = 1
ij_php_align_phpdoc_param_names = true
ij_php_align_phpdoc_comments = true

ij_php_upper_case_null_const = false
ij_php_call_parameters_new_line_after_left_paren = true
ij_php_call_parameters_wrap = on_every_item
ij_php_call_parameters_right_paren_on_new_line = true

[*.{html5,svg,min.css,min.js}]
insert_final_newline = false
